@{
    string login=null;
    string pass=null;
    ViewData["Title"] = "Home Page";
}

<form class="form-control" asp-controller="Home" asp-action="Auth">
    <label>Логин</label>
    <input asp-for="@login" type="text" class="form-control" />
    <br />
    <label>Пароль</label>
    <input asp-for="@pass" type="password" class="form-control" />
    <br />
    <input type="submit" class="btn btn-primary" value="Войти" />
</form>

